<button id="goToTopBtn" onclick="topFunction()">
  <i class="far fa-arrow-alt-circle-up"></i>
</button>
<footer class="page-footer font-small blue pt-4" style="background:#031221;margin-top:-48px;">
  <div class="container-fluid text-center text-md-left">
      <div class="row">
          <div class="col-md-4 mt-md-0 mt-3 mb-4">
              <h5 class="text-uppercase" style="color:rgb(38, 144, 201);">HAZERA FERDOWSI</h5>
              <hr class="deep-purple accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;background: white;">
              <p class="text-light">I am a web develper with expertise in Html, CSS, JavaScrpt and JQuery!</p>
          </div>
          <%- include footer_nav.ejs %>

          <div class="col-md-4 mb-md-0 mb-4">
              <h5 class="text-uppercase" style="color:rgb(38, 144, 201);">Contact</h5>
              <hr class="deep-purple accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;background: white;">
              <ul class="list-unstyled">
                  <li>
                      <i class="fas fa-home mr-3" style="color:rgb(38, 144, 201);"><span style="color:white; font-family: QuickSand">Scarborough, ON, Canada</span></i>
                  </li>
                  <li>
                      <i class="fas fa-envelope mr-3" style="color:rgb(38, 144, 201);"><span style="color:white; font-family: QuickSand">ferdowsirumi@gmail.com</span></i>
                  </li>
                  <li>
                  <i class="fas fa-phone mr-3" style="color:rgb(38, 144, 201);"><span style="color:white; font-family: QuickSand;color:white;">+6479685363</span></i>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <div class="footer-copyright text-center py-3" style="background: rgb(38, 144, 201); color:white;">© 2018 Copyright:
      <a href="https://www.linkedin.com/in/ferdowsirumi" target="_blank" style="color:white;"> ferdowsirumi</a>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>
  <script src="/Scripts/app.js "></script>
  <script src="/Scripts/script.js "></script>
</body>
</html>