<!-- Bottom Nav -->
<div class="col-md-4 mb-md-0 mb-4">
  <h5 class="text-uppercase" style="color:rgb(38, 144, 201);">My Projects</h5>
  <hr class="deep-purple accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;background: white;">

  <ul class="list-unstyled">
      <li>
          <a target="_blank" href="p/Hydrojule/index.html" class="text-light">Hydrojule</a>
      </li>
      <li>
          <a target="_blank" href="p/IntenseAppWeb/index.html" class="text-light">Intense App Landing</a>
      </li>
      <li>
          <a target="_blank" href="p/SunshineWeb/index.html" class="text-light">Sunshine Website</a>
      </li>
      <li>
          <a target="_blank" href="p/CompanyIntro/index.html" class="text-light">Company Intro Page</a>
      </li>
  </ul>

</div>