<!DOCTYPE html>
<html lang="en">
  <!-- //Student Name: Ferdowsi Rumi
  //Student Number: 301168815
  //Date: OCT 1st, 2021 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="/Content/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=S|Viga|Amatic SC|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/Content/style.css">
    <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_GqJCWEakQddbSVk5k4l10");
        })();
    </script>

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="80">
    <div class="header" id="header">
        <div class="overlay"></div>
        <div class="center">
            <h1>HAZERA RUMI</h1>
            <p>Web Development | Web Application | Startup Consulting</p>
            <a style="display:inline-block;font-family: 'Viga';" href="http://www.linkedin.com/in/ferdowsirumi" target="_blank">LinkedIn Profile</a>
            <a style="display:inline-block;font-family:'Viga';margin-left:10px;" href="/cv" target="_blank">Download CV</a>
        </div>
        <div class="topnav" id="menubar">
            <a href="/index">HOME</a>
            <a href="/service">SERVICE</a>
            <a href="/projects">PROJECTS</a>
            <a href="/about">ABOUT</a>
            <a href="/contact">CONTACT</a>
            <!-- <a href="/auth/login">LOGIN</a> -->
            <% if(displayName) { %>
                 <a  href="/contact/list">BUSINESS CONTACT LIST</a>
                 <a href="/auth/logout"><i class="fas fa-sign-out-alt fa-lg"></i> LOGOUT</a>
               <% } else { %>
                 <a  href="/auth/login"><i class="fas fa-sign-in-alt fa-lg"></i> LOGIN</a>
               <% } %>
            <a href="#" class="icon" onclick="myfunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="topLeft" id="myPage">
            <img class="image" src="/Assets/images/hr.png">
            <h5>RUMI
                <br>HAZERA</h5>
            <hr style="width:50px;background: white;margin-bottom:5px;margin-top:5px;">
            <p style="margin-top:2px; color: whitesmoke; opacity: 1;">Achiving Quality with Expertise</p>
        </div>
    </div>