<%- include partials/header.ejs %>

    <div class="last" id="media-section">
        <div class="lastCol" id="about-section">
            <p class="sumi"><%= title %> </p>
            <span style="color:rgb(17, 121, 177)"> For Web develomnet</span> inqueries, checking availability or just to
            say, Hello please don't hesitate to connect.
            I will reply within 6 hours because I don't sleep longer than that.
            </p>
        </div>
        <div class="lastBtn">
            <a href="#contact">
                <div class="learnMoreBtn learnMoreBlue">REACH ME OUT</div>
            </a>
        </div>
    </div>
    <div class="container-aboutme">
        <div class="container-aboutme-overlay">
            <main class="main-content">
                <div class="aboutrow" >
                    <div class="columnabout left background-white">
                        <div>
                            <h3 style="text-align: center;">About Myself</h3>
                            <p>I am Hazera Ferdowsi. You can call me Rumi. I am studing in Centennial College. Some of
                                my favourite
                                activities are:</p>
                            <div >
                                <ul  style="margin-bottom:-11px;">
                                    <li>Creating web pages</li>
                                    <li>Learning programming</li>
                                    <li>Watching tv</li>
                                    <li>Cooking</li>
                                    <li>Visiting new places</li>
                                    <li>Playing ludu</li>
                                    <li>Reading books</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="columnabout right background-green">
                        <h3 style="text-align: center;">My Skills</h3>
                        <p>HTML</p>
                        <div class="skillBar">
                            <div class="skills html">90%</div>
                        </div>
                        <p>CSS</p>
                        <div class="skillBar">
                            <div class="skills css">80%</div>
                        </div>
                        <p>JavaScript</p>
                        <div class="skillBar">
                            <div class="skills js">65%</div>
                        </div>
                        <p>C#.NET</p>
                        <div class="skillBar">
                            <div class="skills csharp">30%</div>
                        </div>
                    </div>
                </div>
            </main>
            <div class="aboutrow">
                <div class="columnabout right background-dark">
                    <h3 style="text-align: center;">Education</h3>
                    <ul>
                        <li style="margin-top: 15px">
                            <h5>Centennial College, Scarborough: Advanced College Diploma</h5>
                            <p>Software Engineering Technology
                                <strong>1
                                    <sup>st</sup> Year student</strong>
                            </p>
                        </li>
                        <li style="margin-top: 10px">
                            <h5>National University, Bangladesh: Masters of Statistics</h5>
                            <p>
                                <strong>Jan 2014 - Dec 2015</strong>
                            </p>
                        </li>
                        <li style="margin-top: 10px">
                            <h5>National University, Bangladesh: Bachelor of Statistics</h5>
                            <p>
                                <strong>Jan 2009 - Dec 2013</strong>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="columnabout left background-greenish" style="padding-bottom:4px;">
                    <h3 style="text-align: center;">Language I Speak</h3>
                    <p>My First language is Bangla. However, I can also speak English and understand Hindi</p>
                    <ul style="padding-top:0px">
                        <li>Bangla</li>
                        <li>English</li>
                        <li>Hindi</li>
                    </ul>
                    <div>
                        <h4 style="font-weight: bold; padding-bottom: 10px;">Favourite Quote</h4>
                        <blockquote>
                            "If you think math is hard, try web design."
                        </blockquote>
                        <h6> – Trish Parr</h6>
                    </div>
                </div>
            </div>
            <div class="aboutrow" >
                <div class="columnabout full background-green" style="margin-bottom:30px;">
                    <h3 style="text-align: center;margin-bottom:15px;">My College Pic</h3>
                    <div class="image-row">
                        <div class="image-column">
                            <img src="/Assets/images/college1.jpeg" alt="Centennial college picture"
                                style="width:100%;height:200px;">
                        </div>
                        <div class="image-column">
                            <img src="/Assets/images/college3.jpeg" alt="Centennial college picture"
                                style="width:100%;height:200px;">
                        </div>
                        <div class="image-column">
                            <img src="/Assets/images/college4.jpeg" alt="Centennial college picture"
                                style="width:100%;height:200px;">
                        </div>
                    </div>
                </div>
            </div>
            </main>
        </div>
    </div>
    </div>
    <%- include partials/footer.ejs %>
