<%- include partials/header.ejs %>
    <div id="skills-section">
        <div class="caption">
            <p>IT ALL STARTS WITH PASSION
                <br>AND LOVING WHAT YOU DO.</P>
        </div>
        <div class="row scrollanim">
            <div class="column">
                <h3>HTML</h3>
                <p>Passonately develop Html 5 web application, pages, simply! </p>
            </div>
            <div class="column">
                <h3>CSS</h3>
                <p>I achieve responsive layout using custom css, using css library such as bootstrap as well as utility based
                    CSS!
                </p>
            </div>
            <div class="column">
                <h3>JAVASCRIPT</h3>
                <p>Utilize the most used and most powerful language to provde life to your web page trough element transofrmations,
                    animations and object manipulation</p>
            </div>
        </div>
    </div>
    <!-- <Service Section> -->
    <div id="project-section">
        <div class="rrow-container people-container" style="background:rgb(38, 144, 201)">
            <div class="rrow">
                <h2 class="people-headerr" style="color:white;">Projects</h2>
            </div>
        </div>
        <div class="container-fluid" id="courses-section">
            <div class="row">
                <div class="col-lg-4 hero">
                    <div class="anim">
                        <div class="card" style="border:1px solid rgb(38, 144, 201)">
                            <div class="box1">
                                <img src="/Assets/images/intenseApp.png" alt="">
                                <h3 class="title">Interse App</h3>
                                <ul class="icon">
                                    <li>
                                        <a target="_blank" href="p/IntenseAppWeb/index.html">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="p/IntenseAppWeb/index.html">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body" style="height:300px;">
                                <h5 class="card-title" style="color:rgb(38, 144, 201);font-family: 'Quicksand'">Application Landing Page</h5>
                                <p class="card-text" style="font-size:18px; font-family: 'Quicksand'"> Showcase your application and it's features!
                                </p>
                                <p class="card-text">
                                    <ul>
                                        <li>
                                            HTML 5
                                        </li>
                                        <li>
                                            Responsive CSS
                                        </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            JavaScrpt
                                        </li>
                                    </ul>
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <a target="_blank" href="p/IntenseAppWeb/index.html" style="color:rgb(38, 144, 201);"> see project -> </a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  hero  hero-fchild">
                    <div class="anim">
                        <div class="card" style="border:1px solid rgb(38, 144, 201)">
                            <div class="box1">
                                <img src="/Assets/images/sunshineweb.png" alt="">
                                <h3 class="title">Sunshine Website</h3>
                                <ul class="icon">
                                    <li>
                                        <a target="_blank" href="p/SunshineWeb/index.html">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="p/SunshineWeb/index.html">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body" style="height:300px;">
                                <h5 class="card-title " style="color:rgb(38, 144, 201)">Sunshine Website</h5>
                                <p class="card-text">Provide web presense for Sunshine Inc. </p>
                                <p class="card-text">
                                    <ul>
                                        <li>
                                            HTML 5
                                        </li>
                                        <li>
                                            Responsive CSS
                                        </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            JavaScrpt
                                        </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            Mobile friendly design
                                        </li>
                                    </ul>
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <a target="_blank" href="p/SunshineWeb/index.html" style="color:rgb(38, 144, 201);"> see project -> </a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 hero-tchild hero">
                    <div class="anim">
                        <div class="card" style="border:1px solid rgb(38, 144, 201)">
                            <div class="box1">
                                <img src="/Assets/images/hydrojule.png" alt="">
                                <h3 class="title">Hydrojule Website</h3>
                                <ul class="icon">
                                    <li>
                                        <a target="_blank" href="p/Hydrojule/index.html">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="p/Hydrojule/index.html">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body" style="height:300px;">
                                <h5 class="card-title" style="color:rgb(38, 144, 201)">Hydrojule Website
                                </h5>
                                <p class="card-text">Website of Hydrojule Inc.
                                </p>
                                <p class="card-text">
                                    <ul>
                                        <li>
                                            HTML 5
                                        </li>
                                        <li>
                                            Bootstrap </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            JavaScrpt
                                        </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            JQuery </li>
                                    </ul>
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <a target="_blank" href="p/Hydrojule/index.html" style="color:rgb(38, 144, 201);"> see project -> </a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="last" id="media-section">
        <div class="lastCol">
            <p class="sumi">Make a connection with ME</p>
            <span style="color:rgb(17, 121, 177)"> For Web develomnet</span> inqueries, checking availability or just to say, Hello please don't hesitate to connect.
            I will reply within 6 hours because I don't sleep longer than that.
            </p>
        </div>
        <div class="lastBtn">
            <a href="#contact">
                <div class="learnMoreBtn learnMoreBlue">REACH OUT TODAY</div>
            </a>
        </div>
    </div>
    <div class="container-fluid pb-5" style="background: rgb(38, 144, 201);" id="contact-section">
        <div class="container h-100">
            <h2 class="pt-5 pb-5 d-flex text-light justify-content-center" style="font-family:'Viga';">
                Get in touch with me
            </h2>
            <div class="row mb-5 mt-2 d-flex justify-content-center row-shadow   zoom">
                <div class="col-sm-6 d-flex justify-content-center header-contact" style="padding-top:100px;">
                    <div class="overlay-contact"></div>
                    <div class="center-header">
                        <p class="text-light">
                        <i class="fas fa-map-marker-alt mr-3"></i><span style="font-size:14px;">Scarborough, ON, Canada</span></p>
                        <p class="text-light">
                        <i class="fa fa-envelope mr-3"></i><span style="font-size:14px;">ferdowsirumi@gmail.com</span></p>
                        <p class="text-light">
                        <i class="fa fa-phone mr-3"></i><span style="font-size:14px;color:white;">+6479685363</span></p>
                    </div>
                </div>
                <div class="col-sm-6 bg-light">
                    <form id="myform" method="post" class="form-box pt-5">
                        <h3 class="h4 text-dark mb-4 text-primary">
                            <span style="color:rgb(38, 144, 201);font-weight: bold;">Send a hi5!</span>
                        </h3>
                        <div class="form-group">
                            <input type="text" id="from_email" class="form-control" placeholder="Email Addresss">
                        </div>
                        <div class="form-group">
                            <input type="text" id="from_namee" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group mb-4">
                            <textarea type="text" id="message_html_value" line="3" aria-multiline="true" class="form-control" placeholder="HI Ferdowsi,..."></textarea>
                        </div>
                        <div class="form-group mt-4">
                            <button class="btn" name="emailButton" id="emailButton">Send</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    </div>
<%- include partials/footer.ejs %>
