<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ferdowsi|Rumi|Hazera</title>
    <link rel="stylesheet" href="/Content/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=S|Viga|Amatic SC|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/Content/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_GqJCWEakQddbSVk5k4l10");
        })();
    </script>

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="80">
    <div class="header" id="header">
        <div class="overlay"></div>
        <div class="center">
            <h1>HAZERA RUMI</h1>
            <p>Web Development | Web Application | Startup Consulting</p>
            <a style="display:inline-block;font-family: 'Viga';" href="http://www.linkedin.com/in/ferdowsirumi" target="_blank">LinkedIn Profile</a>
            <a style="display:inline-block;font-family:'Viga';margin-left:10px;" href="Ferdowsi_Rumi_CV.pdf" target="_blank">Download CV</a>
        </div>
        <div class="topnav" id="menubar">
            <a href="index">HOME</a>
            <a href="service">Services</a>
            <a href="#project-section">PROJECTS</a>
            <a href="about">About</a>
            <a href="contact">CONTACT</a>
            <a href="#" class="icon" onclick="myfunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="topLeft" id="myPage">
            <img class="image" src="image/hr.png">
            <h5>RUMI
                <br>HAZERA</h5>
            <hr style="width:50px;background: white;margin-bottom:5px;margin-top:5px;">
            <p style="margin-top:2px; color: whitesmoke; opacity: 1;">Achiving Quality with Expertise</p>
        </div>
    </div>
    <div id="project-section" style="padding-bottom:50px;">
        <div class="rrow-container people-container" style="background:rgb(38, 144, 201)">
            <div class="rrow">
                <h2 class="people-headerr" style="color:white;"><%= title %> </h2>
            </div>
        </div>
        <div class="container-fluid" id="courses-section">
            <div class="row">
                <div class="col-lg-4 hero">
                    <div class="anim">
                        <div class="card" style="border:1px solid rgb(38, 144, 201)">
                            <div class="box1">
                                <img src="image/intenseApp.png" alt="">
                                <h3 class="title">Interse App</h3>
                                <ul class="icon">
                                    <li>
                                        <a target="_blank" href="p/IntenseAppWeb/index.html">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="p/IntenseAppWeb/index.html">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body" style="height:300px;">
                                <h5 class="card-title" style="color:rgb(38, 144, 201);font-family: 'Quicksand'">Application Landing Page</h5>
                                <p class="card-text" style="font-size:18px; font-family: 'Quicksand'"> Showcase your application and it's features!
                                </p>
                                <p class="card-text">
                                    <ul>
                                        <li>
                                            HTML 5
                                        </li>
                                        <li>
                                            Responsive CSS
                                        </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            JavaScrpt
                                        </li>
                                    </ul>
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <a target="_blank" href="p/IntenseAppWeb/index.html" style="color:rgb(38, 144, 201);"> see project -> </a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  hero  hero-fchild">
                    <div class="anim">
                        <div class="card" style="border:1px solid rgb(38, 144, 201)">
                            <div class="box1">
                                <img src="image/sunshineweb.png" alt="">
                                <h3 class="title">Sunshine Website</h3>
                                <ul class="icon">
                                    <li>
                                        <a target="_blank" href="p/SunshineWeb/index.html">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="p/SunshineWeb/index.html">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body" style="height:300px;">
                                <h5 class="card-title " style="color:rgb(38, 144, 201)">Sunshine Website</h5>
                                <p class="card-text">Provide web presense for Sunshine Inc. </p>
                                <p class="card-text">
                                    <ul>
                                        <li>
                                            HTML 5
                                        </li>
                                        <li>
                                            Responsive CSS
                                        </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            JavaScrpt
                                        </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            Mobile friendly design
                                        </li>
                                    </ul>
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <a target="_blank" href="p/SunshineWeb/index.html" style="color:rgb(38, 144, 201);"> see project -> </a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 hero-tchild hero">
                    <div class="anim">
                        <div class="card" style="border:1px solid rgb(38, 144, 201)">
                            <div class="box1">
                                <img src="image/hydrojule.png" alt="">
                                <h3 class="title">Hydrojule Website</h3>
                                <ul class="icon">
                                    <li>
                                        <a target="_blank" href="p/Hydrojule/index.html">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="p/Hydrojule/index.html">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body" style="height:300px;">
                                <h5 class="card-title" style="color:rgb(38, 144, 201)">Hydrojule Website
                                </h5>
                                <p class="card-text">Website of Hydrojule Inc.
                                </p>
                                <p class="card-text">
                                    <ul>
                                        <li>
                                            HTML 5
                                        </li>
                                        <li>
                                            Bootstrap </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            JavaScrpt
                                        </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            JQuery </li>
                                    </ul>
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <a target="_blank" href="p/Hydrojule/index.html" style="color:rgb(38, 144, 201);"> see project -> </a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="row">
                <div class="col-lg-4 hero mt-1">
                    <div class="anim">
                        <div class="card" style="border:1px solid rgb(38, 144, 201)">
                            <div class="box1">
                                <img src="image/companyIntro.png" alt="">
                                <h3 class="title">Bootstrap Showcase</h3>
                                <ul class="icon">
                                    <li>
                                        <a target="_blank" href="p/CompanyIntro/index.html">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body" style="height:300px;">
                                <h5 class="card-title" style="color:rgb(38, 144, 201)">Company Intro
                                </h5>
                                <p class="card-text">Shows my expertise on bootstrap
                                </p>
                                <p class="card-text">
                                    <ul>
                                        <li>
                                            HTML 5
                                        </li>
                                        <li>
                                            Bootstrap </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            JavaScrpt
                                        </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            JQuery </li>
                                    </ul>
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <a target="_blank" href="p/CompanyIntro/index.html" style="color:rgb(38, 144, 201);"> see project -> </a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <button id="goToTopBtn" onclick="topFunction()">
        <i class="far fa-arrow-alt-circle-up"></i>
    </button>
    <footer class="page-footer font-small blue pt-4" style="background:#031221;margin-top:-48px;">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-4 mt-md-0 mt-3 mb-4">
                    <h5 class="text-uppercase" style="color:rgb(38, 144, 201);">HAZERA FERDOWSI</h5>
                    <hr class="deep-purple accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;background: white;">
                    <p class="text-light">I am a web develper with expertise in Html, CSS, JavaScrpt and JQuery!</p>
                </div>
                <div class="col-md-4 mb-md-0 mb-4">
                    <h5 class="text-uppercase" style="color:rgb(38, 144, 201);">My Projects</h5>
                    <hr class="deep-purple accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;background: white;">

                    <ul class="list-unstyled">
                        <li>
                            <a target="_blank" href="p/Hydrojule/index.html" class="text-light">Hydrojule</a>
                        </li>
                        <li>
                            <a target="_blank" href="p/IntenseAppWeb/index.html" class="text-light">Intense App Landing</a>
                        </li>
                        <li>
                            <a target="_blank" href="p/SunshineWeb/index.html" class="text-light">Sunshine Website</a>
                        </li>
                        <li>
                            <a target="_blank" href="p/CompanyIntro/index.html" class="text-light">Company Intro Page</a>
                        </li>
                    </ul>

                </div>
                <div class="col-md-4 mb-md-0 mb-4">
                    <h5 class="text-uppercase" style="color:rgb(38, 144, 201);">Contact</h5>
                    <hr class="deep-purple accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;background: white;">
                    <ul class="list-unstyled">
                        <li>
                            <i class="fas fa-home mr-3" style="color:rgb(38, 144, 201);"><span style="color:white; font-family: QuickSand">Scarborough, ON, Canada</span></i>
                        </li>
                        <li>
                            <i class="fas fa-envelope mr-3" style="color:rgb(38, 144, 201);"><span style="color:white; font-family: QuickSand">ferdowsirumi@gmail.com</span></i>
                        </li>
                        <li>
                        <i class="fas fa-phone mr-3" style="color:rgb(38, 144, 201);"><span style="color:white; font-family: QuickSand;color:white;">+6479685363</span></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3" style="background: rgb(38, 144, 201); color:white;">© 2018 Copyright:
            <a href="https://www.linkedin.com/in/ferdowsirumi" target="_blank" style="color:white;"> ferdowsirumi</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="/Scripts/app.js "></script>
        <script src="/Scripts/script.js "></script>



</body>