<%- include partials/header.ejs %>

    <div id="project-section" style="padding-bottom:50px;">
        <div class="rrow-container people-container" style="background:rgb(38, 144, 201)">
            <div class="rrow">
                <h2 class="people-headerr" style="color:white;"><%= title %> </h2>
            </div>
        </div>
        <div class="container-fluid" id="courses-section">
            <div class="row">
                <div class="col-lg-4 hero">
                    <div class="anim">
                        <div class="card" style="border:1px solid rgb(38, 144, 201)">
                            <div class="box1">
                                <img src="/Assets/images/intenseApp.png" alt="">
                                <h3 class="title">Interse App</h3>
                                <ul class="icon">
                                    <li>
                                        <a target="_blank" href="p/IntenseAppWeb/index.html">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="p/IntenseAppWeb/index.html">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body" style="height:300px;">
                                <h5 class="card-title" style="color:rgb(38, 144, 201);font-family: 'Quicksand'">Application Landing Page</h5>
                                <p class="card-text" style="font-size:18px; font-family: 'Quicksand'"> Showcase your application and it's features!
                                </p>
                                <p class="card-text">
                                    <ul>
                                        <li>
                                            HTML 5
                                        </li>
                                        <li>
                                            Responsive CSS
                                        </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            JavaScrpt
                                        </li>
                                    </ul>
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <a target="_blank" href="p/IntenseAppWeb/index.html" style="color:rgb(38, 144, 201);"> see project -> </a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  hero  hero-fchild">
                    <div class="anim">
                        <div class="card" style="border:1px solid rgb(38, 144, 201)">
                            <div class="box1">
                                <img src="/Assets/images/sunshineweb.png" alt="">
                                <h3 class="title">Sunshine Website</h3>
                                <ul class="icon">
                                    <li>
                                        <a target="_blank" href="p/SunshineWeb/index.html">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="p/SunshineWeb/index.html">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body" style="height:300px;">
                                <h5 class="card-title " style="color:rgb(38, 144, 201)">Sunshine Website</h5>
                                <p class="card-text">Provide web presense for Sunshine Inc. </p>
                                <p class="card-text">
                                    <ul>
                                        <li>
                                            HTML 5
                                        </li>
                                        <li>
                                            Responsive CSS
                                        </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            JavaScrpt
                                        </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            Mobile friendly design
                                        </li>
                                    </ul>
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <a target="_blank" href="p/SunshineWeb/index.html" style="color:rgb(38, 144, 201);"> see project -> </a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 hero-tchild hero">
                    <div class="anim">
                        <div class="card" style="border:1px solid rgb(38, 144, 201)">
                            <div class="box1">
                                <img src="/Assets/images/hydrojule.png" alt="">
                                <h3 class="title">Hydrojule Website</h3>
                                <ul class="icon">
                                    <li>
                                        <a target="_blank" href="p/Hydrojule/index.html">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="p/Hydrojule/index.html">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body" style="height:300px;">
                                <h5 class="card-title" style="color:rgb(38, 144, 201)">Hydrojule Website
                                </h5>
                                <p class="card-text">Website of Hydrojule Inc.
                                </p>
                                <p class="card-text">
                                    <ul>
                                        <li>
                                            HTML 5
                                        </li>
                                        <li>
                                            Bootstrap </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            JavaScrpt
                                        </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            JQuery </li>
                                    </ul>
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <a target="_blank" href="p/Hydrojule/index.html" style="color:rgb(38, 144, 201);"> see project -> </a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="row">
                <div class="col-lg-4 hero mt-1">
                    <div class="anim">
                        <div class="card" style="border:1px solid rgb(38, 144, 201)">
                            <div class="box1">
                                <img src="/Assets/images/companyIntro.png" alt="">
                                <h3 class="title">Bootstrap Showcase</h3>
                                <ul class="icon">
                                    <li>
                                        <a target="_blank" href="p/CompanyIntro/index.html">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body" style="height:300px;">
                                <h5 class="card-title" style="color:rgb(38, 144, 201)">Company Intro
                                </h5>
                                <p class="card-text">Shows my expertise on bootstrap
                                </p>
                                <p class="card-text">
                                    <ul>
                                        <li>
                                            HTML 5
                                        </li>
                                        <li>
                                            Bootstrap </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            JavaScrpt
                                        </li>
                                        <li style="color:rgb(38, 144, 201)">
                                            JQuery </li>
                                    </ul>
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <a target="_blank" href="p/CompanyIntro/index.html" style="color:rgb(38, 144, 201);"> see project -> </a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <%- include partials/footer.ejs %>
